#cart {
	background:#fff;
	border-radius:10px;
	border-collapse:collapse;
}
#cart th {
	text-align:left;
	background:#eee;
	padding:4px;
}

#cart .update input,
#cart .update span,
#cart .update div,
#cart .tdbLink {
	display:none;
}
#cart table td {
	padding:4px;
	vertical-align:middle !important;
}
#cart table td input[type="text"] {
	width:28px;
}

.ui-content .ui-listview-inset {
	margin: 1px 0;
}

.slidedownfrommenu.in {
	-webkit-transform-origin: top left;
	-webkit-animation-name: slideinfrommenu;
	-webkit-animation-duration: 0s;
}

.optionName {
	padding:0px;
	margin:0px;
}

.slidedownfrommenu.in.reverse {
	-webkit-transform: translateY(-700px);
	-webkit-transform-origin: top left;
	-webkit-animation-name: slideouttomenu;
	-webkit-animation-duration: 0s;
}		

@-webkit-keyframes slideinfrommenu {
    from { -webkit-transform: translateY(-700px); }
    to { -webkit-transform: translateY(0px); }
}	

@-webkit-keyframes slideouttomenu {
    from { -webkit-transform: translateY(0px); }
    to { -webkit-transform: translateY(-700px); }
}

.ui-loader {
	z-index: 600;
}

body {
	height:100%;
	font-size:14px;
}

.brief a {
	color:#FF9900 !important;
	text-decoration:none;
	font-size:15px;
	display:block;
	padding-bottom:3px;
}

.ui-header .ui-title {
	min-height: 26px;
}

.ui-navbar-noicons li .ui-btn .ui-btn-inner, .ui-navbar-noicons .ui-navbar-toggle .ui-btn-inner
{
	padding-top: 0.4em;
	padding-bottom: 0.5em;
}

.ui-content {
	padding:5px !important;
}

h1 {
	margin:2px;
	margin-bottom:0px;
}

h1.fn {
	margin-top:2px;
	margin-bottom:0px;
}

.products {
	width:100%;
}

.scroller {
	display: -webkit-box;
}

.gallery div div {
	float:left;
	width:80px;
	height:80px;
	overflow:hidden;
	margin:8px;
	border:2px solid #ccc;
	text-align:center;
}

#gallery
{
	background-color: #000;
	overflow: auto;
	height: 100%;
	text-align:center;
}

.searchpopup {
	text-align:center;
	padding:5px;
	background:#fff;
	z-index:1000;
	border:1px solid #aaa;
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
.searchpopup INPUT
{
	background-color: #ccc;
}

/*.searchpopup input[type='search'] {
	font-size:20px;
	width:220px;
	border-radius:5px;
	border:1px solid #ccc;
}*/
#ezi-minicart {
	display:none;
	width:295px;
	position:absolute;
	top:105px;
	right:10px;
	background:#fff;
	z-index:1000;
	border:1px solid #aaa;
	border-radius:10px;
}

.gallery-icon-list
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gallery-icon-list LI
{
	float: left;
	margin-right:5px;
	width: 64px;
	height: 64px;
	text-align: center;
	line-height: 64px;
}

.gallery-icon-list LI IMG
{
	vertical-align: middle;
}

.url {
	color:#F90 !important;
	text-decoration:none !important;
}
.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
#home .ui-icon { background:  url(/images/home.png) 50% 50% no-repeat; background-size: 26px 24px; }
#categories .ui-icon { background:  url(/images/categories.png) 50% 50% no-repeat;  background-size: 26px 24px;  }
#search .ui-icon { background:  url(/images/search.png) 50% 50% no-repeat;   background-size: 28px 28px; }
#carticon .ui-icon { background:  url(/images/cart.png) 50% 50% no-repeat;   background-size: 26px 24px; }


#ezi-minicart-popup td {
	font-size:75%;
}


#ezi-minicart-popup th {
	background:#CCCCCC;
}

.ui-body-c {
	background:#fff !important;
}

.prodclick {
	background:#dedede !important;
}

.wayoff {
	-webkit-transform: translateX(-120%)!important;
}

.MiniCartQty {	
	text-shadow: none;
	float:right;
	margin-top:-4px;
	margin-right:-3px;
	padding-top:0px;
	padding-bottom: 2px;
	display: inline-block;
	color: #fff;
	background:url(../images/cartbubble.png) top left no-repeat;
	background-size:22px 18px;
	margin-bottom: -15px;
	border-radius: 12px;
}

/*
	-webkit-box-shadow: 0 0 1px #000;
	background-color: #f00;
	border-radius: 12px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(163,5,5)),
		color-stop(0.75, rgb(255,0,0)),
		color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(163,5,5) 28%,
		rgb(255,0,0) 75%,
		rgb(255,255,255) 100%
	);
	border: 2px solid #fff;

*/

